@model SchoolChat.Models.SchoolGroup

<div class="card-body">
    <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.GroupName</h3>
    <div class="card-text"><h4>@Html.Raw(Model.GroupDescription)</h4></div>
</div>