@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center>
        <br/><br/>
    <h1 class="display-4">Welcome to SchoolChat!</h1>
    <br/><br/>
    <p><h4>SchoolChat offers you a wide array of communication means with your school community, offering you a unique enviroment well suited for academic pursuits. </h4></p>
        <br/>
    <p><h4>This app supports group chats with text messages. These groups are based on specific individual categories, ranging from hobbies to school subjects in order to bring people closer and create a sense of community and belonging. </h4></p>
        <br/>
    <p><h4>Join us NOW and enhance your student life right now!</h4></p>
        <br />
    </center>
</div>


